#competences {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*background-color: rgba(250,250,250,0.3);*/
  background-image: url(../assets/img/wall3.jpg);
  background-size: cover;
  /*margin-top: 5em;*/
  /*background: url(../assets/img/star_faucon.jpg) center 0 no-repeat fixed;*/
}

#competences h2 {
  margin-top: 1.5em;
  font-size: 3em;
  text-transform: uppercase;
}

#competences ul {
  margin: 5em;
  padding-top: 5em;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#competences ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

#competences .colored {
  font-size: 8em;
}

#competences ul li p {
  margin-top: 0.5em;
}
